<html>
    <head>
        <title><%= name %></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    <img class="flag" src="<%= flag %>" alt="<%= flag %>"/>
        <h1>
            <em>Name: </em><%= name %>
            <br>
            <em>Region: </em><%= region %><em>, </em><%= subregion %>
            <br>
            <em>Calling Code: +</em><%= callingCodes %>
            <br>
            <em>Language: </em><%= languages %>
            <br>
            <em>Population: </em><%= population %>
            <br>
            <em>Top Level Domain: </em><%= topLevelDomain %>
            <br>
            <em>Alpha3 Code: </em><%= alpha3Code %>
            <br>
            <em>Currency: </em><%= currencies %>
        </h1>
        <p class="copyright">&copy; 2020 Aleksandr Klemets, Erik-Sten Parisvä<p></p>
    </body>

</html>